*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow: hidden;
}
header{
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow:0 4px 12px 0 rgba(0,0,0,0.5);
    position: relative;
}
img{
    width: 50px;
    margin-right: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
    padding: 25px 0;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 13px;
}
.nav-menu a{
    color: black;
    padding:25px 0;
    box-sizing: content-box;
}
.nav-menu a:hover{
    border-bottom: 2px solid #f54e77;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
.search-bar{
    background: red;
    width: 550px;
    line-height: 40px;
    border-radius: 4px;
    background: #f0eeee;
    [type=text]:focus {
        background-color: whitesmoke;
      }
}
.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    width: 85%;
    size: 80px;
    margin-left: 15px;
}
.nav-right .search-bar input i{
    font-size: 13px;
    color: #727070;
    margin-right: 15px;
    margin-left: 15px;
}
.studio{
    position: relative;
}
.studio sup{
    color:rgb(238,9,47);
    
}
.nav-right div{
    margin: 0 12px;
    text-align: center;
}
.nav-right div p{
    font-size: 12px;
    font-weight: 700;
    color: #535252;
}
.nav-right div i{
    font-size: 18px;
    color: #535252;
}
.nav-left i{
    font-size: 20px;
    background: lightgray;
    padding: 10px;
    border-radius: 50%;
    display: none;
}
/*media query*/
@media only screen and (max-width:700px){
    .nav-menu{
        display: none;
    }
    .nav-left i{
        display: block;
    }
    img{
        width: 45px;
        margin-right: 10px;
    }
}
h2{
    margin-top: 20px;
    color:black;
}
h2 spam{
    color: pink;
}
.hero{
    position: relative;
    height: 600px;
}
.hero img{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.hero_content h1{
    font-size: xx-large;
}